<header>
    <div class="menu">
        <input type="checkbox" name="" id="check">
        
        <div class="logo-container">
            <span class="logo"><i class="fa fa-list"></i> <%= link_to 'Contact List', root_url, class: 'logo-font' %></span>
        </div>

        <div class="nav-btn">
            <div class="nav-links">
                <ul>
                    <% if !user_signed_in? %>
                        <li class="nav-link" style="--i: .6s">
                            <%= link_to 'Nova Conta', new_user_path %>
                        </li>
                    <% end %>

                    <% if !user_signed_in? %>
                    <li class="nav-link" style="--i: .6s">
                        <%= link_to 'Entrar', entrar_path %>
                    </li>
                    <% else %>                        
                        <li class="nav-link" style="--i: 1.1s">
                            <a href="#">Perfil<i class="fa fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <%= link_to 'Minha Pagina', contacts_path %>
                                    </li>
                                    <li class="dropdown-link">
                                        <%= link_to 'Editar', edit_user_path(current_user), class: 'last' %>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: 1.35s">
                            <%= link_to 'Sair', sair_path, method: :delete, id: 'exit' %>
                        </li>
                    <% end %>
                    </li>
                    
                </ul>
            </div>
        </div>

        <div class="icon-menu-container">
            <div class="icon-menu">
                <div></div>
            </div>
        </div>
    </div>
</header>
